body {
  font: "Helvetica Neue";
  color: gray;
  font-size: x-large;

}

.nav_link {
  list-style-type: none;
  display: inline;
  border: 1px solid black;
}

#profile_picture {
  background-image: url("IMG_1028.jpg");
  background-repeat: none;
  background-size: cover;
  width: : 200px;
  height: 400px;
  float: left;
  padding: 10px
}
#id {
  width: : 800px;
  height: 400px;
  float: left;
  padding: 10px
}
